{
    "rules": {
        "no-console": 0,
        "no-dupe-keys": 2,
        "no-unused-vars": [ 2 , { "vars" : "all", "args" : "none" } ],
        "indent": [2, "tab"],
        "semi": [1, "always"],
        "quotes": [0, "single"],
        "comma-dangle": [1, "always-multiline"],
        "key-spacing": [ "error" , { "beforeColon" : true, "afterColon" : true } ],
        "object-curly-spacing" : ["error", "always"],
        "space-before-function-paren" : 2
    },
    "globals": {
        "global" : true,
        "describe" : true,
        "it" : true,
        "expect" : true,
        "document" : true,
        "agent" : true,
        "detectErrors" : true,
        "before" : true,
    },
    "env": {
        "es6": true,
        "node": true,
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "blockBindings": true,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
        },
    },
    "plugins": [],
}
